@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-slim {
    scrollbar-width: thin;
    scrollbar-color: #E5E7EB transparent;
  }
  
  .scrollbar-slim::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-slim::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-slim::-webkit-scrollbar-thumb {
    background-color: #E5E7EB;
    border-radius: 3px;
  }
}